.dashboardMain {
    width: 100%;
}

.dashboardContainer {
    margin-top: 60px;
    height: 90vh;
    display: flex;

}

.dashboardPartOne {
    width: 20%;
    height: 101%;
    border-right: 1px solid lightgray;
    text-align: left;
    background-color: gray;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;

}

.dashboardPartOne p {
    margin-left: 15px;
    color: wheat;
}

.dashboardPartOne hr {
    color: white;
}

.dashboardPartTwo {
    width: 80%;
}

.dashboardPartTwo p {
    padding: 15px;
    font-weight: bold;
}

.btnDashboard {
    border: none;
    background: none;
    outline: none;
    color: white;
    margin-left: 15px;
}

.sectionContainer {
    position: absolute;
    top: 64px;
    width: 200%;
    height: 100%;
    display: flex;
    transition: 1s ease-in-out;
}

.leftSlide {
    left: 0;
}

.rightSlide {
    left: -272px;
}


.editorSection {
    width: 272px;
    background-color: rgb(51, 51, 51);
}

.adminSection {
    width: 272px;
    background-color: rgb(0, 0, 77);
}