.dashboardHome_main{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    overflow-x: hidden;
}

.homeEvents_data{
    width: 100%;
    height: auto;
}

.homeEvents_data_box{
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.homeEvents_data_box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.homeEvents_data_box_hover_area{
    position: absolute;
    top: 0;
    display: none;
    color: white;
    cursor: pointer;
}



.homeEvents_data_box_hover_area p{
    width: 100%;
    height: 30px;
    background-color: red;
}

.homeEvents_data_box:hover .homeEvents_data_box_hover_area{
    width: 100%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeEvents_data_box:hover .uil-edit{
    display: block;
}

.homeEvents_data_box:hover .uil-trash{
    display: block;
}



/* old css */
.dashboardHomePlatform {
    position: relative;
}

.dashboardHomeContainer {
    width: 100%;
    height: 70vh;
    margin: auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    overflow-x: hidden;
    overflow-y: scroll;

}

.dashboardHomeBlogsContainer {
    width: 90%;
    height: 70vh;
    margin: auto;
    background-color: #4158D0;
    background-image: linear-gradient(135deg, #FFCF71 10%, #2376DD 100%);
    overflow-x: hidden;
    overflow-y: scroll;

}

/* .homeEvents {
    width: 100%;
    min-height: 32vh;
    max-height: auto;

} */

/* .homeEvents div,
.globalEvents div {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
} */

.dashboardData {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.dashboardDataContainer {
    position: relative;
    margin-right: 5px;
    margin-top: 5px;

}

.dashboardData img {
    width: 180px;
    height: 180px;
}

.dashboardDataContainer .dashboardDataP {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 60px;
    color: black;
    background: linear-gradient(rgba(55, 55, 255, .5), rgba(230, 4, 4, 0.2));
    cursor: pointer;
}

.dashboardDataContainer .dashboardDataP {
    display: none;
}

.dashboardDataContainer :hover .dashboardDataP {
    display: block;
}



.globalEvents {
    width: 100%;
    min-height: 32vh;
    max-height: auto;
    margin: 10px;
}

.hrDash {
    margin: 0;
    padding: 0;
    color: white;
    border: 1px solid white;
    margin: 0 10px;
}

h6 {
    text-align: left;
    color: black;
}


.uil-edit {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 30px;
    color: yellow;
    background: linear-gradient(rgba(55, 55, 255, .5), rgba(230, 4, 4, 0.2));
    cursor: pointer;
    display: none;
}

.uil-trash {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    color: red;
    background: linear-gradient(rgba(55, 55, 255, .2), rgba(230, 4, 4, 0.2));
    cursor: pointer;
    display: none;
}

.deletePopup {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(7, 7, 7, 0.2));
    display: flex;
    align-items: center;
    justify-content: center;
}


.deletePopup-main {
    width: 60%;
    height: 250px;
    background: linear-gradient(rgba(55, 55, 255, .7), rgba(230, 4, 4, 0.7));
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}