.personal_detail{
    width: 100%;
    height: 100%;
}

.personal_title{
    text-align: left;
    display: grid;
    grid-template-columns: 90% 10%;
}

.personal_title img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid yellow;
}

.personal_title p{
    color: gray;
}

.personal_detail{
    display: grid;
    grid-template-columns: 30% 60% 10%;
    text-align: left;
}

.switch_drawer_responsive{
    display: none;
}

@media screen and (max-width: 900px) {
    .switch_drawer_responsive{
        display: block;
        text-align: right;
    }

    .personal_detail{
        display: grid;
        grid-template-columns: 30% 50% 20%;
        text-align: left;
    }
}