@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.tourAreaMain {
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: "Oswald", sans-serif;
}

.partOne {
    width: 15%;
    /* background-color: rgb(236, 234, 234); */
    border-right: 1px solid lightgray;
    padding: 10px;
}

.partOneFind label {
    text-align: left;
    background-color: lightgray;
    width: 100%;
    padding: 5px 10px;
}

.partOneFind select {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.partTwo {
    width: 80%;
    min-height: 100vh;
    padding: 0 5px;
}

.partTwo h6 {
    font-weight: bold;
    margin-top: 20px;
}

.tourAreaContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 70vh;
}

.tourAreaSection {
    width: 85%;
    height: 220px;
    border: 1px solid lightgray;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


.tourAreaImg {
    width: 30%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tourAreaImg img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.tourAreaInfo {
    width: 70%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tourAreaInfoContainer {
    width: 90%;
    height: 200px;
}

.tourAreaInfoContainer {
    text-align: left;
}

.tourAreaInfoContainer span {
    font-weight: bold;
}

.tourAreaInfoContainer button {
    border: none;
    padding: 2px 10px;
    background-color: yellow;
    font-weight: bold;
    color: gray;
}

.viewAllButton {
    text-align: left;
}


@media screen and (max-width: 779px) {
    .tourAreaMain {
        display: flex;
        flex-wrap: wrap-reverse;
        height: auto
    }

    .partOne,
    .partTwo {
        width: 100%;
    }

    .tourAreaSection {
        width: 95%;
    }

    .tourAreaContainer {
        height: auto;
    }

    .tourAreaImg {
        display: flex;
        justify-content: center;
        align-items: first baseline;
    }

    .tourAreaImg img {
        margin-top: 10px;
        margin-left: 10px;
        width: 90px;
        height: 90px;
    }

    .tourAreaInfo p {
        margin-bottom: 0;
    }

    .tourAreaInfoContainer button {
        margin-top: 15px;
    }

    .viewAllButton {
        width: 100%;
        text-align: center;
    }

    .tourAreaInfoContainer {
        margin-bottom: 10px;
    }

}


@media screen and (min-width: 780px) and (max-width: 1300px) {
    .tourAreaSection {
        width: 100%;
    }

    .partTwo {
        width: 100%;
        min-height: 100vh;
    }
}