.globalSpotMain {
    width: 320px;
    height: auto;
    margin: auto;
    background: linear-gradient(rgb(229, 255, 0), rgb(229, 255, 0));
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}