.updateHomeMain {
    width: 80%;
    height: 70vh;
    border: 1px solid lightgray;
    margin: auto;
    position: relative;
}

.updateHeading {
    width: 100%;
    display: flex;
}

.updatePart {
    width: 20%;
    height: 50px;
    margin: 4px;
    background-color: rgb(0, 0, 65);
    display: flex;
    align-items: center;
    justify-content: center;
}

.updatePartGl {
    width: 20%;
    height: 50px;
    margin: 4px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.updatePart span {
    color: white;
}

.updateLine {
    width: 100%;
    display: flex;
}

.linePart {
    width: 20%;
    height: 3px;
    margin: 5px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.updateFooter {
    position: absolute;
    bottom: 10px;
    left: 22px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}