@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.navMain{
    width: 100%;
    height: 120px;
    font-family: "Oswald", sans-serif;
}

.navContainer{
    width: 100%;
    margin: auto;
}

.navConOne,.navConTwo{
    width: 90%;
    height: 60px;
    margin: auto;
}

.navConOne{
    background-color: rgb(1, 1, 65);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navConTwo{
    background-color: rgb(1, 1, 65);
}

.navConOneLeft{
    width: 30%;
    height: 60px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.navConOneRight{
    width: 190px;
    height: 60px;
    /* background-color: blue;  */
    display: flex;
    align-items: center;
    
}

/* old css */

.uil-user {
    color: white;
    position: absolute;
    top: 8px;
    font-size: 27px;
    cursor: pointer;
}



.visibleInfo {
    position: absolute;
    right: 0;
    top: 60px;
    transition: 0.7s ease-in-out;
}

.hiddenInfo {
    position: absolute;
    right: -300px;
    top: 60px;
    transition: 0.7s ease-in-out;
}


.headerPopup {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;

}


.headerPopupContainer {
    width: 40%;
    height: 200px;
    border: 1px solid white;
    background: linear-gradient(rgba(55, 55, 255, .7), rgba(230, 4, 4, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.crossPopupHeader {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.navConOneRightRes{
    display: none;
}

@media screen and (max-width: 900px) {
    .navConOneRight{
        display: none;
    }

    .navConOneRightRes{
        display: block;
        width: 190px;
        height: 60px;
        /* background-color: blue;  */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    .navConOneRightResPopup{
        width: 200px;
        height: auto;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        top:50px;
        right: 0;
        z-index: 20;
        padding: 10px;
        text-align: left;
    }

    .navConTwo{
        display: none;
    }
    
}