.userControllContainer {
    width: 85%;
    height: auto;
    max-height: 70vh;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 50px;
}

.userControllTitle {
    color: black;
    font-weight: bold;
}



.userControllSection td {
    text-align: left;
}

.uil-user-circle {
    font-size: 45px;
    color: gray;
}