.forParallax {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgDiv {
    background: linear-gradient(rgba(55, 55, 255, .5), rgba(230, 4, 4, 0.2));
    width: 400px;
    height: auto;
}

.forParallax h1 {
    color: yellow;
    font-weight: 900;
}

.forParallax p {
    color: white;
    font-weight: bold;
}

.spotDetailInfo {
    display: flex;
    width: 100%;
    min-height: 70vh;
}

.outletpart {
    width: 70%;
    border: 1px solid lightgray;
    margin: 10px;
}

.spotDetailBtn {
    display: flex;
}

.spotDetailBtn div {
    margin: 5px;
    padding: 5px;
    width: 20%;

}

.crimson {
    background-color: crimson;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.yellow {
    background-color: yellow;
    cursor: pointer;
}

.outLetInclusion {
    text-align: left;
    padding-left: 10px;
}

.outletItineraries {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.sidePart {
    width: 30%;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 5px;
}

.sidePart h4 {
    font-weight: bold;
    width: 100%;
    background-color: rgb(56, 116, 245);
    height: 35px;
    padding-top: 2px;
    color: white;
}

.sidepartSummery p {
    text-align: left;
}

.sidepartSummery span {
    font-weight: bold;
}

.sidepartSelections {
    text-align: left;

}

.sidepartSelections label {
    background-color: lightgray;
    width: 100%;
    padding: 5px;
}

.sidepartSelections select {
    margin-top: 10px;
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    width: 100%;
}

.cursors:hover {
    cursor: not-allowed;
}

.gray:hover {
    background-color: gray;
}

.checkoutBtn {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    background-color: crimson;
    color: white;
    font-weight: bold;
    height: 40px;
}

.remainingDatesContainer {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(25, 255, 5, 0.6), rgba(230, 255, 2, 0.6));
    position: relative;
}

.remainingDatesContainer h6 {
    color:brown;
    position: absolute;
    top: 10px;
    font-size: 12px;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

.remainingDates {
    color: brown;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.timersDiv p {
    text-align: center;

}

.uil-shopping-cart {
    font-size: 30px;
}

.timers {
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.timeLetter {
    font-size: 12px;
    font-weight: bold;
}

.block {
    display: block;
}

.none {
    display: none;
}


@media screen and (max-width: 890px) {

    .forParallax {
        height: 60vh;
    }

    .spotDetailInfo {
        display: flex;
        flex-wrap: wrap;
    }


    .sidePart {
        width: 100%;
    }

    .outletpart {
        width: 100%;
    }

    .spotDetailMain {
        width: 100%;
    }

    .spotDetailBtn div {
        width: 97%;
    }

    .spotDetailBtn {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 600px) and (max-width: 890px) {
    .remainingDates {
        width: 50%;
    }
}